<div class="playing-field">
  <div class="upper-field">
    {{flipping-deck cards=cardsInFlippingDeck}}

    {{heart-stack cards=cardsInHeartStack}}
    {{spade-stack cards=cardsInSpadeStack}}
    {{diamond-stack cards=cardsInDiamondStack}}
    {{club-stack cards=cardsInClubStack}}
  </div>

  <div class="lower-field">
    {{card-stack stackNumber=1 cards=cardsInFirstStack}}
    {{card-stack stackNumber=2 cards=cardsInSecondStack}}
    {{card-stack stackNumber=3 cards=cardsInThirdStack}}
    {{card-stack stackNumber=4 cards=cardsInFourthStack}}
    {{card-stack stackNumber=5 cards=cardsInFifthStack}}
    {{card-stack stackNumber=6 cards=cardsInSixthStack}}
    {{card-stack stackNumber=7 cards=cardsInSeventhStack}}
  </div>
</div>
